<div class="bigbox">
    <div class="box-1">
        <div class="insidebox-1">
            
        </div>
        <p align="center">Titlle</p>
        <p align="center">500 P</p>
        <p style="text-align: center"><button>КУПИТЬ</button>
    </div>
    <div class="box-2">
        <div class="insidebox-1">

        </div>
        <p align="center">Titlle</p>
        <p align="center">500 P</p>
        <p style="text-align: center"><button>КУПИТЬ</button>
    </div>
    <div class="box-3">
        <div class="insidebox-1">

        </div>
        <p align="center">Titlle</p>
        <p align="center">500 P</p>
        <p style="text-align: center"><button>КУПИТЬ</button>
    </div>
</div>

<div class="bigbox2">
    <div class="box-4">
        <div class="insidebox-1">

        </div>
        <p align="center">Titlle</p>
        <p align="center">500 P</p>
        <p style="text-align: center"><button>КУПИТЬ</button>
    </div>
    <div class="box-5">
        <div class="insidebox-1">

        </div>
        <p align="center">Titlle</p>
        <p align="center">500 P</p>
        <p style="text-align: center"><button>КУПИТЬ</button>
    </div>
    <div class="box-6">
        <div class="insidebox-1">

        </div>
        <p align="center">Titlle</p>
        <p align="center">500 P</p>
        <p style="text-align: center"><button>КУПИТЬ</button>
    </div>

</div>
<div class="bigbox3">
    <div class="box-7">
        <div class="insidebox-1">

        </div>
        <p align="center">Titlle</p>
        <p align="center">500 P</p>
        <p style="text-align: center"><button>КУПИТЬ</button>
    </div>
    <div class="box-8">
        <div class="insidebox-1">

        </div>
        <p align="center">Titlle</p>
        <p align="center">500 P</p>
        <p style="text-align: center"><button>КУПИТЬ</button>
    </div>
    <div class="box-9">
        <div class="insidebox-1">

        </div>
        <p align="center">Titlle</p>
        <p align="center">500 P</p>
        <p style="text-align: center"><button>КУПИТЬ</button>
    </div>

</div>
<link rel="stylesheet" href="/project1/resources/css/products.css">